
body {
font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}
header {
    background-color: rgba(255, 99, 71, 0.5);
    color: white;
    text-align: center;
    padding: 1rem 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
  

  	

.profile {
text-align: center;
    margin: 20px 0;

}
.profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
 border: 3px solid #004080;
  
}
  h2 {
	text-align:center;
	color: #004080;
}

.section {
  padding: 20px;
  background-color: white;
  margin: 20px auto;
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.schools-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  margin-top: 15px;
}

.school {
  background-color: #e6f0ff;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #b3d1ff;
}

footer {
  text-align: center;
  padding: 15px;
  background-color: rgba(255, 99, 71, 0.5);
  color: white;
  margin-top: 20px;
}
